{% extends "footer.html" %}

{% block content_container %}
    <div class="row">

        {% for category in gvalues.categories %}
        {% if listings|keyvalue:category.ID %}
        <div class="span6">
            <h2><a href="/category?category={{ category.ID }}">{{ category.name }}</a></h2>

            {% for post_listing in listings|keyvalue:category.ID %}
                {% with post_listing as listing %}
                    {% include "small_post.html" %}
                {% endwith %}
            {% endfor %}

        </div>
        {% endif %}
        {% endfor %}

    </div>
{% endblock content_container %}




        
