{% extends "footer.html" %}

{% block content_container %}
    <div class="hero-unit">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="span6">
            <h2>Recent Posts</h2>
            {% for listing in listings %}
                <b><a href="/post?postID={{ listing.postID }}">{{ listing.title }}</a></b>
                {% if listing.content %}
                    <p>{{ listing.content }}</p>
                {% else %}
                    <b>No Content, No Post</b>
                {% endif %}
                <p>{{ listing.engage }}</p>
                <blockquote>{{ listing.price }}</blockquote>
            {% endfor %}
        </div>
        <div class="span6">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
    </div>
{% endblock content_container %}




        
