{% extends "base.html" %}

{% block nav %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Bitcoin List</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for category in gvalues.category_list %}
                            <li><a href="/category?category={{ category|keyvalue:"nav" }}">{{ category|keyvalue:"category" }}</a></li>
                                {% for subcategory in category|keyvalue:"subcategory_list" %}
                                    <li><a href="/category?category={{ category|keyvalue:"nav" }}&subcategory={{ subcategory }}">
                                        &nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;{{ gvalues.subcategories|cat_name:subcategory }}
                                    </a></li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="/post/edit">Make a Post</a></li>
                    {% if gvalues.link_list|length < 2 %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/trader">Profile</a></li>
                                {% if gvalues.trader_posts %}
                                    <li class="divider"></li>
                                    <li class="nav-header">Recent Posts</li>
                                    {% for post in gvalues.trader_posts|slice:":5" %}
                                        <li><a href="/post?postID={{ post.postID }}">{{ post.title }}</a></li>
                                    {% endfor %}
                                    <li><a href="/trader/posts">All Posts...</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                

                <form class="navbar-form pull-right">
                    {% for link in gvalues.link_list %}
                        <a href="{{ link.url }}" >{{ link.name }}</a>
                    {% endfor %}
                </form>
                <form id="search" action="/search" method="get" class="navbar-search pull-right">
                    <div>
                        <input name="q" class="textbox" placeholder="  search" value="">
                        <input type="submit" value="Search" class="btn">
                    </div>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
{% endblock nav %}