{% extends "footer.html" %}

{% block content_container %}

{% regroup posts by subcategory as subcategory_list %}
    <div class="row">
        {% if subcategory_list|length > 1 %}
            <div> Show only: 
                {% for subcategory in subcategory_list %}
                    <a href="/category?category={{ category }}&amp;subcategory={{ subcategory.grouper }}">{{ subcategory.grouper }}</a>
                {% endfor %}
            </div>
        {% endif %}
        {% for subcategory in subcategory_list %}
            <div class="span12">
                <h1><a href="/category?category={{ category }}&amp;subcategory={{ subcategory.grouper }}">{{ subcategory.grouper }}</a></h1>
                {% for post in subcategory.list %}
                    {% with post as listing %}
                        {% include "small_post.html" %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endfor %}    
    </div>
<div class="row">
        <div class="span12">
            {% if more and next %}
                {% if subcategory_list|length <= 1 %}
                    {% for subcategory in subcategory_list %}
                        <a href="/category?category={{ category }}&amp;subcategory={{ subcategory.grouper }}&amp;cursor={{ next }}">More...</a>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    


{% endblock content_container %}