{% extends "footer.html" %}

{% block content_container %}
    <div class="hero-unit post-form">
        <form action="/post/edit{% if this_post %}?postID={{ this_post.postID }}{% endif %}" method="post">
            <div>
                <ul>
                    <div class="row">
                            <div class="span5">
                                <li>
                                    <label for="title">Listing Title</label>
                                    <input type="text" name="title" placeholder="Listing Title" required {% if this_post %}value="{{ this_post.title }}"{% endif %}>
                                </li>
                            </div>
                            <div class="span5">
                                <li>
                                    <label for="price">Price (In BTC)</label>
                                    <input type="number" name="price" min="0" max="100" step="0.00000001" {% if this_post %}value="{{ this_post.price }}"{% endif %} required>
                                </li>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="span5">
                                <li>
                                    <label for="category">Listing Category</label>
                                    <select name="category" required>
                                        {% if this_post %}
                                        <option value="{{ this_post.category }}">
                                            {% for category in gvalues.categories %}
                                                {% if category.ID = this_post.category %}
                                                    {{ category.name }}
                                                {% endif %}
                                            {% endfor %}
                                        </option>
                                        {% else %}
                                        <option value="">Please Choose One</option> 
                                        {% endif %}
                                        {% for category in gvalues.categories %}
                                            <option value="{{ category.ID }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </li>
                            </div>
                            <div class="span5">
                                <li>
                                    <label for="subcategory">Listing Subcategory</label>
                                    <select name="subcategory" required>
                                        {% if this_post %}
                                        <option value="{{ this_post.subcategory }}">
                                            {% for category in gvalues.subcategories %}
                                                {% if category.ID = this_post.subcategory %}
                                                    {{ category.name }}
                                                {% endif %}
                                            {% endfor %}
                                        </option>
                                        {% else %}
                                        <option value="">Please Choose One</option> 
                                        {% endif %}  
                                        {% for category in gvalues.subcategories %}
                                            <option value="{{ category.ID }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </li>
                                
                            </div>
                        </div>
                    <li>
                        <label for="content">Listing Details</label>
                        <textarea name="content" rows="10" cols="240" required spellcheck>{% if this_post %}{{ this_post.content }}{% endif %}</textarea>
                    </li>
                    <li>
                        <input type="submit" value="Post Listing" class="btn btn-primary btn-large">
                    </li>
                </ul>
            </div>
        </form>
    </div>

{% endblock content_container %}