{% extends "footer.html" %}

{% block content_container %}
    {% block status_message %}{% endblock status_message %}
    <div class="row">
        <div class="span8 single-post">
            <h2><a href="/post?postID={{ listing.postID }}">{{ listing.title }}</a></h2>
            <h5>{{ listing.price|floatformat:8 }} BTC</h5>
            <br/><h4>{{ gvalues.categories|cat_name:listing.category }} - {{ gvalues.subcategories|cat_name:listing.subcategory }}</h4>
            {% if listing.content %}
                <pre>{{ listing.content }}</pre>
            <h5>{{ post.price }}</h5>
            {% else %}
                <b>The post you have requested does not currently exist.</b>
            {% endif %}
        </div>
        <div class="span4 post-reply">
            <form action="/post?postID={{ listing.postID }}" method="post">
                <ul>
                    <li>
                        <label for="sender_name">Name</label>
                        <input type="text" name="sender_name" placeholder="Your Name">
                    </li>
                    <li>
                        <label for="sender_email">Email</label>
                        <input type="email" name="sender_email" placeholder="Email Address" required>
                    </li>
                    <li>
                        <label for="sender_message">Message to Trader</label>
                        <textarea name="sender_message" rows="10" cols="240" required></textarea>
                    </li>
                    <li>
                        <input type="submit" value="Send Message" class="btn btn-primary btn-large">
                    </li>
                </ul>
            </form>
        </div>
    </div>
    
{% endblock content_container %}