{% extends "footer.html" %}

{% block content_container %}
    <div class="hero-unit">
        <form action="/trader?trader={{ user_id }}" method="post">
            <div>
                <ul>
                    <li>
                        <h1>{{ nickname }}</h1>
                    </li>
                    <li>
                        <h6>{{ user_id }} from {{ user_fid }} via {{ user_prov }}</h6>
                    </li>
                    <hr/>
                    <li>
                        <input type="submit" value="Post Listing" class="btn btn-primary btn-large">
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <div>
        <ul>
            <li>Recent Posts</li>
            {% for post in trader_posts %}
            <li><a href="/post?postID={{ post.postID }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>




{% endblock content_container %}