{% extends "footer.html" %}

{% block content_container %}
    <div class="row">
        <div class="span12">            
            <h6>UserID: {{ user_id }}</h6>
            <h1>{{ nickname }}</h1>
        </div>
    </div>
   
    <div class="row">
        <div class="span6">
            <h3>Recent Posts</h3>
            {% for post in gvalues.trader_posts %}
                <div class="single-post">
                    <a href="/post?postID={{ post.postID }}"><h2>{{ post.title }}</h2></a>
                    <h5>{{ post.price|floatformat:3 }} BTC</h5>
                    <a class="btn" href="/post/edit?postID={{ post.postID }}">Edit</a>
                    <a class="btn" href=javascript:ShowDeleteButton('delete-confirm-{{ post.postID }}');HideDeleteButton('delete-{{ post.postID }}') id="delete-{{ post.postID }}">Delete</a>
                    <a class="btn" href="/post/edit/delete?postID={{ post.postID }}" id="delete-confirm-{{ post.postID }}" style="display:none;">Confirm Delete</a>
                </div>
            {% endfor %}
            {% if gvalues.trader_posts|length < 1 %}
                <h4>No posts yet!</h4>
            {% endif %}
        </div>
        <div class="span6">
            <h3>Saved Searches</h3>
            {% for query in saved_queries %}
                {% include "trader_search.html" %}
            {% endfor %}
            {% if saved_queries|length < 1 %}
                <h4>No queries have been saved yet!</h4>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript" language="JavaScript"><!--
    function ShowDeleteButton(d) {
        document.getElementById(d).style.display = "";
    }
    function HideDeleteButton(d) {
        document.getElementById(d).style.display = "none";
    }
    --></script>
{% endblock content_container %}