

/* ==========================================================================
   Connor's custom styles
   ========================================================================== */
html {overflow-y: scroll;}

form ul li {
    list-style-type: none;
}
.clear{
    clear:both;
    height:0px;
}

.single-post{
    background: #EEE;
    margin-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid #DDD;
}

.single-post h2, .single-post h3, .single-post h4, .single-post h5{
    display:inline;
} 

.single-post h5{
    float:right;
    margin:0;
    width:100px;
    text-align: right;
}

.single-post .btn{
    float:right;
    margin:5px;
}

.single-post .bottom-bar{
    border-top: dotted black 1px;
    font-family: monospace;
}

.post-form input{
    width:90%;
}

.post-form select{
    width:93%;
}

.post-form .row{
    position:relative;
}



.post-reply {
    margin-left:15px;
}

.post-reply label{
    padding:0 4px;
    float:left;
}

.post-reply input{
    clear:left;
    width:90%;
}
.post-reply form ul, .post-form ul{
    margin:0;
}
.post-form .btn, .post-reply .btn {
    margin-left:8px;
}


.bottom-bar .date{
    float:right;
}


textarea {
    width:90%; 
}


.pull-right a{
    color: #999;
    margin-right:4px;
}
.pull-right a:hover{
    color: #fff;
    text-decoration:none;
}
.navbar-form{
    margin-top: 10px;
}
.navbar-search {
    margin-top: 8px;
    margin-right:45px;
}
.navbar-search .btn {
    line-height: 16px;
    margin-top: 0px;
}

.query_categories{
    display:inline-block;
}
.query_categories .textbox{
    margin-left: 30px;
} 
.query_categories input, .query_categories select{
    margin-bottom:0px;
    margin-left: 10px;
}

footer a{
    float:right;
}




